<ion-header>
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="home">
  <div *ngIf="loadingData">
    <ion-list>
      <ion-item *ngFor="let message of loadingMessages; let currentIndex = index">
        {{ message }}
        <ion-icon *ngIf="(currentIndex + 1) < loadingMessages.length" name="done-all" color="primary" item-right></ion-icon>
        <div style="text-align: center" item-right *ngIf="(currentIndex + 1) >= loadingMessages.length">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!loadingData">
    <ion-card>
      <ion-row>
        <ion-col width-100>
          <div class="homeLogo">
            <img [src]="homeLogo" width = "60%">
          </div>
        </ion-col>
      </ion-row>

      <ion-card-content>
        <p>
          A responsive mobile app for instant verification of business licence at your finger tips
        </p>
      </ion-card-content>

    </ion-card>

    <ion-row>
      <ion-col width-100>
        <button ion-button full (click)="goToComponent('Vehicle')">
          Vehicle
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <button ion-button full (click)="goToComponent('BusinessLicence')">
          Business Licence
        </button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
